#Home{
  background-image: url('assets/hero.png');
  background-repeat: no-repeat;
  background-size: 100% 600px;
  width: 100%;
  position: relative;
  height: 600px;
}
#feature{
  height: fit-content;
  width : 416px;
  position: absolute;
  bottom: 0;
  right: 0;
}
.header{
  position: fixed;
  z-index: 1;
}
#About{
  background-image: url('assets/unsplash_6anudmpILw4.png');
  background-repeat: no-repeat;
  background-size: 80%;
  height: 600px;
  width: 100%;
  position: relative;
}
#About-data{

 height: fit-content;
  /* width : 416px; */
  position: absolute;
  bottom: 100px;
  right: 50px;
}
.reason{
  height: 200px;
  width: 197px;
}
.services{
  display: flex;
  justify-content: center;
  align-items: center;
}